.winHeight {
	height: 100vh;
}

.social ul {
	padding-left: 0px;
}
ul a,
ul a:visited {
	text-decoration: none;
	color: black;
}

body {
  background-color: 0;
}
h1{
  color: white;
}

* {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
